.card-login {
  background-color: #040c3b;
  color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;

  .input-group {
    margin-bottom: 20px;
  }

  .buttom-signup {
    background-color: black;
    border-color: black;
    color: white;
    opacity: 1;
  }
}
