<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="nc-icon nc-compass-05" aria-hidden="true"></i>&nbsp;Descobrir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="nc-icon nc-single-02" aria-hidden="true"></i>&nbsp;Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>&nbsp;Ações</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
