<div class="main">
  <div class="margem">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="col-md-3" style="margin-left: auto;">
          <h3><span class="label label-warning">Pendente</span></h3>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Valor Samsung</h5>
            <h3>R$ 400.000000</h3>
            <span class="label label-danger">Incorreto </span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Valor Varejo Mais</h5>
            <h3>R$ 400.006394</h3>
            <span class="label label-danger">Incorreto</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Valor do Desconto</h5>
            <h3><i class="fa fa-tags"></i> &nbsp;R$ 40000</h3>
            <span class="label label-danger">Incorreto</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Quantidade Varejo Mais</h5>
            <h3><i class="fa fa-arrow-up"></i> &nbsp; 500000</h3>
            <span class="label label-success">Correto</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Quantidade Samsung</h5>
            <h3><i class="fa fa-arrow-up"></i> &nbsp; 500000</h3>
            <span class="label label-success">Correto</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Produtos
          </div>
          <div class=" card-body">
            <div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="active"
                    id="active"
                    type="checkbox"
                    formControlName="active"
                  />
                  Com divergência &nbsp; <span class="form-check-sign"></span>
                </label>
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="active"
                    id="active"
                    type="checkbox"
                    formControlName="active"
                  />
                  Sem divergência <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div
              class="form-group"
              style="overflow-x:auto; overflow:scroll;height:400px;width:100%;"
            >
              <table class=" table table-striped ">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Referencia</th>
                    <th>Qtd Samsung</th>
                    <th>Qtd V+</th>
                    <th>Valor Samsung</th>
                    <th>Valor V+</th>
                    <th>Divergência qtd</th>
                    <th>Divergência Valor</th>

                    <th>Status</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Campanha nd 2</td>
                    <td>2sfsd3esf</td>

                    <td>15</td>

                    <td>15</td>
                    <td>100000</td>

                    <td>100350</td>

                    <td>0</td>
                    <td>-350</td>

                    <td><span class="label label-danger">Incorreto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-success">Correto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-success">Correto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-success">Correto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-danger">Incorreto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-danger">Incorreto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-success">Correto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp; &nbsp; &nbsp;Galaxy s9 plus</td>
                    <td>7sfsd87sf</td>

                    <td>15</td>

                    <td>17</td>
                    <td>1000000</td>

                    <td>1006000</td>

                    <td>-2</td>
                    <td>-6000</td>

                    <td><span class="label label-danger">Incorreto</span></td>
                    <td>
                      <div class="form-check">
                        <label>
                          <input
                            class="form-check-input"
                            name="active"
                            id="active"
                            type="checkbox"
                            formControlName="active"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-history"></i> <strong> Histórico</strong>
          </div>
          <div
            class="card-body"
            style="overflow:scroll;height:400px;width:100%;overflow:auto"
          >
            <div class="timeline">
              <ul>
                <li>
                  <div class="bullet pink"></div>
                  <div class="time">5pm</div>
                  <div class="desc">
                    <h3>Campanha conferida</h3>
                    <h4>Realizado por usuário: financeiro</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet green"></div>
                  <div class="time">3 - 4pm</div>
                  <div class="desc">
                    <h3>Nota de débito gerada e enviada para a samsung</h3>
                    <h4>Realizado por usuário: administrador</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet orange"></div>
                  <div class="time">12pm</div>
                  <div class="desc">
                    <h3>Samsung dá retorno</h3>
                    <h4>Realizado por usuário: financeiro</h4>

                    <h4>Nota de débito aceita</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet green"></div>
                  <div class="time">9 - 11am</div>
                  <div class="desc">
                    <h3>Samsung realiza pagamento</h3>
                    <h4>Cadastrado por usuário: administrador</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet green"></div>
                  <div class="time">9 - 11am</div>
                  <div class="desc">
                    <h3>Varejo mais recebe pagamento</h3>
                    <h4>pagamento contabilizado com sucesso</h4>
                    <h4>Cadastrado por usuário: financeiro</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet pink"></div>
                  <div class="time">5pm</div>
                  <div class="desc">
                    <h3>Campanha contestada a samsung</h3>
                    <h4>Realizado por usuário: financeiro</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet green"></div>
                  <div class="time">7pm</div>
                  <div class="desc">
                    <h3>Samsung dá retorno</h3>
                    <h4>samsung não aceita contestação</h4>
                    <h4>Realizado por usuário: financeiro</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary btn-round">Gerar nota de débito</button>
      <button class="btn btn-round">Contestar</button>
    </div>
  </div>
</div>
